/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/spec/fixture/mnist/*

*.bundle
*.so
*.dll

# rspec failure tracking
.rspec_status

# jupyter notebook checkpoint
.ipynb_checkpoints/
